// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google		:'http://fonts.googleapies.com/css?family=Lato:100,300,400,700,900';
$font-family--primary	: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary	: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights


// Descriptive Base Colors

// Color Usage

// Text
